<a href="https://colab.research.google.com/github/jagadeesh1972/mlworkshop/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
rd=pd.read_csv(r"/content/diabetes.csv")
rd

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [7]:
print(rd)

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [8]:
print(rd.head(-2))

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
761            9      170  ...   43        1
762            9       89  ...   33        0
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0

[766 rows x 9 columns]

In [9]:
print(rd.tail(2))

     Pregnancies  Glucose  ...  Age  Outcome
766            1      126  ...   47        1
767            1       93  ...   23        0

[2 rows x 9 columns]

In [10]:
print(rd.tail(-2))

     Pregnancies  Glucose  ...  Age  Outcome
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
5              5      116  ...   30        0
6              3       78  ...   26        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[766 rows x 9 columns]

In [13]:
print(rd['Age'])

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [14]:
print(rd['Glucose'])

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [15]:
print(rd['Outcome'])

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
print(type(rd['Age']))

<class 'pandas.core.series.Series'>

In [17]:
print(type(rd['Outcome']))

<class 'pandas.core.series.Series'>

In [4]:
rd=pd.read_csv(r"/content/diabetes.csv")
bit=rd.drop([2,3],axis=0)