<a href="https://colab.research.google.com/github/jagadeesh1972/mlworkshop/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hi Sathyabma")

Hi Sathyabma

In [12]:
a=int(input("Enter the a value:"))
b=int(input("Enter the b value:"))
c=a+b
d=a-b
e=a/b
f=a//b
g=a*b
print(c)
print(d)
print(e)
print(f)
print(g)

Enter the a value:2
Enter the b value:2
4
0
1.0
1
4

In [11]:
a=3.0
b=2
print(type(a))
print(type(b))
a=int(a)
b=float(b)
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>

In [6]:
a=input("Enter the a value:")
b=input("Enter the b value:")
c=input("Enter the c value:")
if(a<b and b<c and a<c):
  print("TRUE")
if(a<b or b<c or a<c):
  print("TRUE")
else:
  print("FALSE")

Enter the a value:30
Enter the b value:20
Enter the c value:10
FALSE

In [10]:
l=[]
n=int(input("Enter the n value:"))
for i in range(0,n):
  e=input("Enter the list values:")
  l.append(e)
print(l)
print(l[2:])
print(l[:3])
print(l[0]+l[1]+l[2]+l[3])

Enter the n value:4
Enter the list values:This
Enter the list values:is
Enter the list values:python
Enter the list values:3
['This', 'is', 'python', '3']
['python', '3']
['This', 'is', 'python']
Thisispython3

In [15]:
dict = {'Name': 'John', 'Age': 20, 'sno': '121'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  John
dict['Age']:  20

In [25]:
set = {"10", "sonic", "jerry"}
print(set)
print(len(set))
print(type(set))

{'jerry', '10', 'sonic'}
3
<class 'set'>

In [21]:
t=("python",10,"java","c++")
m=("django",20,"flask")
print(t)
print(t[0])
print(t*3)
print(t[2:])
print(t[:2])
print(t+m)
print(tuple(t[0]))

('python', 10, 'java', 'c++')
python
('python', 10, 'java', 'c++', 'python', 10, 'java', 'c++', 'python', 10, 'java', 'c++')
('java', 'c++')
('python', 10)
('python', 10, 'java', 'c++', 'django', 20, 'flask')
('p', 'y', 't', 'h', 'o', 'n')